/* === Variable and mixins overides === */
$badge-color: $body-color;
$badge-font-size: 0.875rem;
$badge-font-weight: $font-weight-normal;
$badge-border-radius: 0.5rem;
$badge-separation: 0.5rem;
$badge-padding-y: 0.125rem;
$badge-padding-x: 0.25rem;

$badge-theme-color: (
  'default': $blue-900,
  'danger': $red-500,
  'info': $blue-500,
  'success': $green-600,
  'warning': $orange-500,
);

$badge-bg-theme-color: (
  default: $grisulado-50,
  danger: $red-50,
  info: $blue-50,
  success: $green-50,
  warning: $orange-50,
);

/* === Custom variables and mixins === */
@mixin badge-variant-custom($color, $value) {
  color: $body-color;
  background-color: map-get($badge-bg-theme-color, $color);
  box-shadow: 0 0 0 1px map-get($badge-theme-color, $color);
  outline: 0.125rem solid transparent;

  @at-root a#{&} {
    &:hover,
    &.hover {
      color: $blue-700;
      box-shadow: 0 0 0 2px $blue-700;
      background-color: map-get($badge-bg-theme-color, $color);
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }

    &:focus,
    &.focus {
      background-color: $light;
      box-shadow: $focus-box-shadow;
      outline: 0.25rem solid transparent;
    }
  }
}

/* === Custom styles === */
.badge {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.25rem;
  min-height: 24px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: $badge-separation;
  border-radius: 8px;
  padding: 2px 4px;
  font-weight: 400;
  font-size: 0.875rem;
}

@each $color, $value in $badge-theme-color {
  .badge-#{$color} {
    @include badge-variant-custom($color, $value);
  }
}
