$carousel-bg: $white;
$carousel-active-bg: $blue-700;
$svg-base-left: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M15 6.70498C14.61 6.31498 13.98 6.31498 13.59 6.70498L9.00002 11.295C8.61002 11.685 8.61002 12.315 9.00002 12.705L13.59 17.295C13.98 17.685 14.61 17.685 15 17.295C15.39 16.905 15.39 16.275 15 15.885L11.12 11.995L15 8.11498C15.39 7.72498 15.38 7.08498 15 6.70498Z" fill="%23';
$svg-base-right: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M9.00002 6.71063C8.61002 7.10063 8.61002 7.73063 9.00002 8.12063L12.88 12.0006L9.00002 15.8806C8.61002 16.2706 8.61002 16.9006 9.00002 17.2906C9.39002 17.6806 10.02 17.6806 10.41 17.2906L15 12.7006C15.39 12.3106 15.39 11.6806 15 11.2906L10.41 6.70063C10.03 6.32063 9.39002 6.32063 9.00002 6.71063Z" fill="%23';
$color-default: '101E37';
$color-hover: '274986';
$color-active: 'FFFFFF';

$carousel-icon-left: url('#{$svg-base-left}#{$color-default}"/></svg>');
$carousel-icon-right: url('#{$svg-base-right}#{$color-default}"/></svg>');
$carousel-icon-left-hover: url('#{$svg-base-left}#{$color-hover}"/></svg>');
$carousel-icon-right-hover: url('#{$svg-base-right}#{$color-hover}"/></svg>');
$carousel-icon-left-active: url('#{$svg-base-left}#{$color-active}"/></svg>');
$carousel-icon-right-active: url('#{$svg-base-right}#{$color-active}"/></svg>');

@mixin carousel-navigation-states(
  $box-shadow,
  $bg-color,
  $icon-left,
  $icon-right
) {
  box-shadow: $box-shadow;
  background-color: $bg-color;

  .carousel-control-prev-icon {
    content: $icon-left;
  }

  .carousel-control-next-icon {
    content: $icon-right;
  }
}

.carousel {
  padding: 24px 16px;
  background-color: $light;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &:has(.title > a) {
    padding-bottom: 64px;
  }

  .carousel-inner {
    border-radius: 8px;
  }

  .carousel-indicators {
    position: relative;
    justify-content: start;
    margin: 0;
    align-items: center;
    column-gap: 8px;
    height: 48px;

    button {
      margin: 0;
      background-color: transparent;
      border: solid 1px $blue-900;
      width: 12px;
      height: 12px;
      opacity: 1;
      border-radius: 50%;

      &.active {
        background-color: $blue-900;
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: auto;
    bottom: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-lg;
    border: none;
    outline: $outline-border;
    width: 48px;
    height: 48px;

    .carousel-control-prev-icon {
      background-image: none;
      content: $carousel-icon-left;
      width: 32px;
      height: 32px;
    }

    .carousel-control-next-icon {
      background-image: none;
      content: $carousel-icon-right;
      width: 32px;
      height: 32px;
    }

    &:focus {
      @include carousel-navigation-states(
        $focus-box-shadow,
        $carousel-bg,
        $carousel-icon-left,
        $carousel-icon-right
      );
      outline: 0.25rem solid transparent;
    }

    &:hover {
      @include carousel-navigation-states(
        none,
        $carousel-bg,
        $carousel-icon-left-hover,
        $carousel-icon-right-hover
      );
      outline: $hover-outline;
    }

    &:active {
      @include carousel-navigation-states(
        none,
        $carousel-active-bg,
        $carousel-icon-left-active,
        $carousel-icon-right-active
      );
      outline: 0.25rem solid transparent;
      outline-offset: -2px;
      box-shadow: 0 0 0 0.125rem $slate-100;
    }
  }

  .carousel-control-next {
    right: 16px;
  }

  .carousel-control-prev {
    left: auto;
    right: 84px;
  }

  .title {
    display: flex;
    column-gap: 2rem;
    align-items: center;

    a {
      position: absolute;
      left: 16px;
      bottom: 24px;
    }
  }

  .panel-horizontal-content {
    background-color: transparent;

    .panel-horizontal {
      padding: 0;
      max-width: 100%;
      row-gap: 24px;

      img {
        max-width: 100%;
      }

      .panel-footer {
        a {
          width: 100%;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;

    .carousel-indicators {
      button {
        border-color: $white;

        &.active {
          background-color: $white;
        }
      }
    }
  }

  // el &.cards, hace que solo aplique a las clases .card dentro de .carousel
  &.cards {
    @media (width < 992px) {
      .carousel-inner {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto hidden;
        column-gap: 24px;
        padding: 0 0 24px;
        align-items: stretch;

        .carousel-item {
          display: contents; // para poder ver el contenido de los hijos

          .card-items {
            display: contents;

            .card {
              flex: 0 0 auto;
              width: 296px;
            }
          }
        }
      }

      .carousel-control-next,
      .carousel-control-prev,
      .carousel-indicators {
        display: none;
      }
    }
  }

  @media (width >= 576px) {
    padding: 32px;

    .title {
      a {
        left: 32px;
      }
    }

    .panel-horizontal-content {
      .panel-horizontal {
        .panel-footer {
          a {
            width: auto;
          }
        }
      }
    }

    &.cards {
      padding: 24px 32px;
    }
  }

  @media (width >= 992px) {
    padding: 48px 129px 32px;

    .carousel-inner {
      border-radius: 16px;

      .carousel-item {
        padding: 0 8px;
      }
    }

    .carousel-indicators {
      justify-content: center;
      height: auto;
    }

    .carousel-control-next,
    .carousel-control-prev {
      top: 50%;
      bottom: auto;
      width: 64px;
      height: 64px;

      .carousel-control-prev-icon {
        width: 48px;
        height: 48px;
      }

      .carousel-control-next-icon {
        width: 48px;
        height: 48px;
      }
    }

    .carousel-control-prev {
      left: 28px;
      right: auto;
    }

    .carousel-control-next {
      right: 28px;
      left: auto;
    }

    .title {
      a {
        position: unset;
      }
    }

    .panel-horizontal-content {
      padding: 0;

      .panel-horizontal {
        flex-direction: row-reverse;
        align-items: center;

        img {
          max-width: 50%;
        }
      }
    }

    &.cards {
      padding: 48px 129px 32px;

      .carousel-inner {
        overflow-x: hidden;

        .carousel-item {
          .card-items {
            display: flex;
            column-gap: 24px;
            align-items: stretch;
						justify-content: start;

						.card {
							max-width: 33%;
						}
          }
        }
      }
    }
  }
}
