$color-text: #101e37;
$text-sm: 16px; // En Obelisco es 81.25%
$height-text-sm: 16px;
$headline-lg: 1.1875rem;
$height-headline: 1.2;
$grid-gutter-width: 30px;
$active: #218274;
$text-md: 1rem;
$height-text-md: 1.5rem;
$card-header-bg: $grisulado-50;
$headline-md: 1.125rem;
$progression-circle-size: 0.5rem;

@use 'sass:math';

/* === Variable and mixins overides === */

$card-border-radius: $border-radius-lg;
$card-spacer: 1rem;
$card-spacer-sm: 0.75rem;
$card-spacer-lg: 1.5rem;
$card-spacer-unbordered: 0 0 0 1rem;

$card-subtitle-font-size: 1.1875rem;
$card-subtitle-font-weight: 400;

$card-cap-color: $text-muted;
$card-cap-bg: inherit;
$card-active-color: $white;
// $card-header-bg: $grisulado-50;
$card-header-padding: 0.75rem 1.813rem 0.75rem 1.5rem;
$card-bg-info: #005387;

$card-border-width: 0;
$card-outline-color: $grisulado-50;
$card-shadow-collapsable-color: $grisulado-50;
$card-outline: 2px solid $card-outline-color;
$card-outline-collapsable: 2px solid $card-shadow-collapsable-color;
$card-box-hover-shadow: 2px solid black;

$card-picture-size: 4rem;
$card-picture-size-lg: 6rem;
$card-picture-size-lg-mobile: 4.5rem;

$card-icon-size: 1.5rem;
$card-icon-background-size: $card-picture-size;
$card-icon-bg: $grisulado-50;

$card-footer-icon-size: 1rem;

$card-event-img-border-radius: $border-radius-lg * 1.5;
$card-event-name-bg-gradient: linear-gradient(
  0deg,
  rgba($grisulado-900, 0.75) 25%,
  rgba($grisulado-900, 0) 100%
);
$card-event-name-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
$card-event-thumb-bracket: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24"> <circle fill="%236F6F6F" cx="6" cy="18" r="6"/> <path fill="%23E6EBF0" d="M6,0L6,0C3.8,0,2,1.8,2,4v14c0,2.2,1.8,4,4,4h0c2.2,0,4-1.8,4-4V4C10,1.8,8.2,0,6,0z"/> <path fill="%23FFFFFF" d="M6,0L6,0C3.8,0,2,1.8,2,4v6c0,2.2,1.8,4,4,4h0c2.2,0,4-1.8,4-4V4C10,1.8,8.2,0,6,0z"/> </svg>');

// $focus-box-shadow: 0 0 0 $input-focus-width $focus-color;
$card-focus-box-shadow: $focus-box-shadow;

$card-title-link-focus-color: #005387;

// $card-deck-margin: $grid-gutter-width / 2;
$card-deck-margin: math.div($progression-circle-size, 2);

$card-deck-margin-top: $grid-gutter-width;

$card-text-decoration: none;
$card-font-weight: 700;

$collapse-border-width: 2px;
$collapse-info-subtitle-size: 1rem;


%divCardStyles {
  .card-body {
    .card-title {
      .card-title-link {
        text-decoration: none;
        color: $body-color;
        &:after {
          content: '';
          border-radius: 0.5rem;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }

        &:hover {
          color: $hover-color; // $color-hover
          text-decoration: underline;
          text-decoration-thickness: 1px;
          &:after {
            box-shadow: 0 0 0 2px $hover-color;
          }
        }

        &:focus {
          box-shadow: none;
          outline: none;
          border: none;
          color: $color-text;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          &:after {
            outline: $card-focus-box-shadow;
            outline: 0.25rem solid transparent;
          }
        }
      }
    }
  }
}

/* === Bootstrap Import === */

// @import 'node_modules/bootstrap/scss/card';

/* === Custom styles === */
.max-items-3,
.max-items-2 {
  .card {
    width: 100%;
  }
}

.card {
  outline: 0.125rem solid $grisulado-100;
  border: none;

  .card-body {
    padding: $card-spacer-lg;
  }

  .card-headline {
    font-size: $text-sm;
    line-height: $height-text-sm;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .card-title {
    margin-bottom: 0;
    font-size: $headline-lg;
    line-height: $height-headline;
    font-family: $font-family-headings;
    font-weight: $font-weight-bold;
  }

  .card-text {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }

  .card-badges {
    margin-bottom: 9.6px; //Debido a que badge tiene display: inline-block; y overflow: hidden; se genera un espaciado en el div contenedor siendo su altura 30.4px en vez de 24px, por lo que se modifica el margin-bottom para respetar espaciado de 16px entre etiqueta y titulo.
  }

  .badge {
    margin-right: 0.75rem;

    &:last-child {
      margin-right: 0;
    }
  }

  //Inicio: Estilos para card-footer de tarjeta noticias previa a actualizacion
  // .card-footer {
  //   padding: 0 0 $card-spacer-lg;
  //   margin: -$card-spacer-sm $card-spacer 0;
  //   color: $body-color;

  //   .bx,
  //   .material-icons-round {
  //     font-size: $card-footer-icon-size;
  //     vertical-align: sub;
  //     margin-right: 0.25rem;
  //   }
  // }

  // @include media-breakpoint-up(md) {
  //   .card-footer {
  //     margin: -$card-spacer $card-spacer-lg 0;
  //   }
  // }
  //Fin: Estilos para card-footer de tarjeta noticias previa a actualizacion

  .card-info {
    margin-top: 0.5rem;

    small {
      // display: block;
      display: flex;
      align-items: center;

      .bx,
      .material-icons-round {
        font-size: $card-footer-icon-size;
        vertical-align: sub;
        margin-right: 0.25rem;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  .card-icon {
    margin-bottom: $card-spacer-lg;
    font-size: $card-icon-size;
    background-color: $card-icon-bg;
    width: $card-icon-background-size;
    height: $card-icon-background-size;
    border-radius: $border-radius-lg;
    text-align: center;
    line-height: $card-icon-background-size;
  }

  .card-img-top {
    border-radius: $card-border-radius $card-border-radius 0 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    height: 190px;
  }

  .card-event-top {
    position: relative;
    margin-bottom: $card-spacer;
    z-index: 1;

    .card-event-bg {
      @extend .card-img-top;
    }

    .card-event-name {
      @extend .h4;
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: ($card-spacer * 3) $card-spacer-lg $card-spacer
        ($card-spacer-lg + $card-picture-size-lg + $card-spacer-sm);
      background: $card-event-name-bg-gradient;
      text-shadow: $card-event-name-text-shadow;
      color: $white;
      z-index: 2;
    }
  }

  .unbordered {
    box-shadow: none;
    outline: none;
    background: transparent;
    border: none;

    &.card-simple {
      box-shadow: none;
      outline: none;
      background: transparent;
      border: none;

      &:hover {
        box-shadow: none;
        outline: none;
        background: transparent;
        border: none;
      }
    }

    &:hover {
      box-shadow: none;
      outline: none;
      background: transparent;
      border: none;

      .card-title {
        a:visited {
          color: $hover-color;
        }
      }
    }

    &:focus-within {
      box-shadow: none;
      outline: none;
      background: transparent;
      border: none;
      .card-title {
        a:focus {
          color: $color-text;
          outline: 2px solid $focus-color;
        }
      }
    }

    &:visited {
      .card-title {
        a:visited {
          color: $color-text;
        }
      }
    }
  }

  &.unbordered {
    box-shadow: none !important;
    outline: none !important;
    background: transparent !important;
    border: none !important;

    &.card-simple {
      box-shadow: none !important;
      outline: none !important;
      background: transparent !important;
      border: none !important;

      &:hover {
        box-shadow: none !important;
        outline: none !important;
        background: transparent !important;
        border: none !important;
      }
    }

    &:hover {
      box-shadow: none !important;
      outline: none !important;
      background: transparent !important;
      border: none !important;

      .card-title {
        a:visited {
          color: $hover-color;
        }
      }
    }

    &:focus-within {
      box-shadow: none;
      outline: none;
      background: transparent;
      border: none;
      .card-title {
        a:focus {
          color: $color-text;
          outline: 2px solid $focus-color;
        }
      }
    }

    &:visited {
      .card-title {
        a:visited {
          color: $color-text;
        }
      }
    }
  }

  &.card-horizontal {
    flex-direction: row;
    width: 100%;

    .card-img-left {
      width: $card-picture-size;
      height: $card-picture-size;
      aspect-ratio: 1 / 1;
      margin: $card-spacer;
      margin-right: 0;
      border-radius: $card-border-radius;
      object-fit: cover;
      object-position: center;
      flex-shrink: 0;

      + .card-body {
        padding-right: 2rem;
      }
    }

    .card-icon-left {
      @extend .card-icon;
      @extend .card-img-left;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1.5rem 1rem;
    }

    &.card-lg {
      .card-img-left {
        width: $card-picture-size-lg;
        height: $card-picture-size-lg;
      }
    }

    &.card-simple.card-horizontal {
      flex-direction: column;

      .card-img-left {
        width: $card-picture-size-lg-mobile;
        height: $card-picture-size-lg-mobile;
        margin: 0;
        border-radius: 0;

        + .card-body {
          padding-left: 0;
        }
      }
    }

    @include media-breakpoint-up(md) {
      &.card-simple.card-horizontal {
        flex-direction: row;

        .card-img-left {
          width: $card-picture-size-lg;
          height: $card-picture-size-lg;
          margin: $card-spacer;

          + .card-body {
            padding: 1.5rem 1rem;
            padding-left: 0.5rem;
          }
        }
      }
    }

    //Estilos para tarjeta horizontal temática
    &.card-simple.card-lg {
      flex-direction: column;

      .card-img-left {
        width: 6rem;
        height: 6rem;
        aspect-ratio: 1/1;
        margin: 0;

        + .card-body {
          padding-left: 0;
        }
      }

      .card-body {
        padding: 1.5rem 1rem;
        padding-left: 0;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        gap: 1.5rem;

        .card-img-left {
          width: 8rem;
          height: 8rem;
        }
      }
    }
  }

  @extend %divCardStyles;
}

.card.unbordered,
.card.unbordered:focus,
.card.unbordered:hover,
.card.unbordered:active,
.card.unbordered:focus-within {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


a.card,
a.card:visited,
button.card {
  text-align: left;
  color: $body-color;
  padding: 0;
  margin: 0;
  text-decoration: $card-text-decoration;


  //Estilos para lista de tarjetas verticales desplazable
  .responsive-scroll {
    &.vertical-cards-container {
      max-width: fit-content;
      border-radius: 0.5rem;
      gap: 1rem;
      padding: 0.25rem 0.25rem 0.75rem;

      .card {
        min-width: 348px !important;
        margin: 0.125rem;

        @media (max-width: 400px) {
          min-width: 80vw;
        }

      }
    }
  }
}

.responsive-scroll.vertical-cards-container .card {
  min-width: 348px !important;
  margin: 0.125rem;
}