// Backgrounds colors
@each $key, $value in $theme-colors {
  .bg-#{$key} {
    background-color: $value !important;
  }
}

// Backgrounds colors de la rampa de colores
@each $key, $value in $color-ramp {
  .bg-#{$key} {
    background-color: $value !important;
  }
}

//Backgrounds para fondos
.bg-neutral {
  background-color: $slate-100 !important;
}

.bg-muted {
  background-color: $slate-200 !important;
}
