/* === Custom variables === */

$dropdown-btn-gap: 0.25rem;

$dropdown-item-padding: 0.5rem 0.75rem;
$dropdown-item-padding-sm: 0.25rem 0.75rem;
$dropdown-item-padding-lg: 0.75rem;
$dropdown-item-btn-gap: 0.75rem;

$dropdown-item-padding-left-checkbox: 3rem;
$custom-checkbox-dropdown: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none"><path d="M5.1725 10.1625L1.7025 6.6925C1.3125 6.3025 0.6825 6.3025 0.2925 6.6925C-0.0975 7.0825 -0.0975 7.7125 0.2925 8.1025L4.4725 12.2825C4.8625 12.6725 5.4925 12.6725 5.8825 12.2825L16.4625 1.7025C16.8525 1.3125 16.8525 0.6825 16.4625 0.2925C16.0725 -0.0975 15.4425 -0.0975 15.0525 0.2925L5.1725 10.1625Z" fill="%23007bc7"/></svg>');
$animation-toggle: transform 0.2s ease-in-out;

$checkbox-image-dropdown: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" style="&%2310;"><rect x="1" y="1" width="22" height="22" rx="2" fill="" stroke="" stroke-width="2" style="&%2310;"/><path d="M9.1725 16.1625L5.7025 12.6925C5.3125 12.3025 4.6825 12.3025 4.2925 12.6925C3.9025 13.0825 3.9025 13.7125 4.2925 14.1025L8.4725 18.2825C8.8625 18.6725 9.4925 18.6725 9.8825 18.2825L20.4625 7.7025C20.8525 7.3125 20.8525 6.6825 20.4625 6.2925C20.0725 5.9025 19.4425 5.9025 19.0525 6.2925L9.1725 16.1625Z" fill="%23274986"/></svg>');
$radio-image-dropdown: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><g clip-path="url(%23clip0_2058_8076)"><path d="M9.00012 16.8663L5.50012 13.3663C5.11012 12.9763 4.49012 12.9763 4.10012 13.3663C3.71012 13.7563 3.71012 14.3763 4.10012 14.7663L8.29012 18.9563C8.68012 19.3463 9.31012 19.3463 9.70012 18.9563L20.3001 8.36633C20.6901 7.97633 20.6901 7.35633 20.3001 6.96633C19.9101 6.57633 19.2901 6.57633 18.9001 6.96633L9.00012 16.8663Z" fill="white"/></g><defs><clipPath id="clip0_2058_8076"><rect width="24" height="24" fill="white" transform="translate(0 0.666504)"/></clipPath></defs></svg>');

/* === Custom styles === */

//Mixin tamaños de dropdown
@mixin dropdown-sm() {
  .btn-dropdown,
  .dropdown-item {
    min-height: 2rem;
    padding: $dropdown-item-padding-sm;
  }

  .form-checkbox .form-checkbox-label,
  .form-radio.reverse .form-radio-label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    min-height: 2rem;
  }

  .form-checkbox .form-checkbox-input,
  .form-radio.reverse .form-radio-input {
    top: 0.25rem;
  }
}

@mixin dropdown-lg() {
  .btn-dropdown,
  .dropdown-item {
    min-height: 3rem;
    padding: $dropdown-item-padding-lg;
  }

  .form-checkbox .form-checkbox-label,
  .form-radio.reverse .form-radio-label {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-height: 3rem;
  }

  .form-checkbox .form-checkbox-input,
  .form-radio.reverse .form-radio-input {
    top: 0.75rem;
  }
}

//Mixin Tamaño de button y dropdown-menu de dropdown
@mixin dropdown-size($val) {
  #{$val}-width: 348px;
  width: 100%;

  @include media-breakpoint-down(xl) {
    #{$val}-width: 336px;
  }
  @include media-breakpoint-down(md) {
    #{$val}-width: 328px;
  }
  @media screen and (width <= 359.98px) {
    #{$val}-width: 248px;
  }
}

// Desplegable de navegación
.dropdown {
  width: fit-content;

  .btn-dropdown {
    color: $body-color;
    background: $white;
    border: none;
    box-shadow: none;
    outline: $outline-transparent-subtle;
    border-radius: $border-radius-lg;
    text-decoration: none;
    @extend .headline-md;
    font-weight: $font-weight-normal;
    min-height: 40px;
    padding: $dropdown-item-padding;
    display: flex;
    align-items: center;
    gap: $dropdown-btn-gap;
    @include dropdown-size('max');
    min-width: fit-content;

    // Botón con borde
    &.btn-dropdown-border {
      outline: $outline-border;
    }

    .o-icon,
    .btn-dropdown-icon {
      font-size: 1.5rem;
    }

    .btn-dropdown-text {
      text-align: left;
    }

    // Animación de icono
    .btn-dropdown-icon {
      transform: rotate(-360deg);
      transition: $animation-toggle;
    }

    // Estados
    &:hover {
      outline: $hover-outline;
      color: $hover-color;
      text-decoration: none;
    }

    &:focus {
      box-shadow: $focus-box-shadow;
      outline: $outline-transparent;
      color: $body-color;
      background: $white;
      text-decoration: none;
    }

    // Botón dropdown activo
    &.show,
    &.show:focus {
      box-shadow: none;
      outline: $outline-transparent;
      color: $white;
      background: $active-color;

      // Animación icono
      .btn-dropdown-icon {
        transform: rotate(-180deg);
        transition: $animation-toggle;
      }
    }

    &:not(.show) {
      &.selected {
        color: $active-color;

        .btn-dropdown-icon {
          color: $body-color;
        }
      }
    }
  }

  .dropdown-menu {
    border: 0;
    border-radius: $border-radius-lg;
    padding: 0;
    margin-top: 0.5rem !important;
    outline: $outline-border;
    @include dropdown-size('min');
    max-width: 348px;

    .dropdown-item {
      border-radius: $border-radius-lg;
      padding: $dropdown-item-padding;
      white-space: normal;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: $dropdown-item-btn-gap;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      .item-text {
        flex-grow: 1;
      }

      .o-icon {
        font-size: 1.5rem;
      }

      &.disabled,
      &[disabled] {
        color: $disabled-text;
        pointer-events: none;
      }

      &:hover {
        background-color: $white;
        outline: $hover-outline;
        color: $hover-color;

        .item-text {
          text-decoration: underline;
          text-decoration-color: transparent;
        }
      }

      &:focus {
        box-shadow: $focus-box-shadow;
        outline: $outline-transparent;
        background: $white;
        color: $body-color;
      }

      &.active,
      &:active {
        color: $white;
        background: $active-color;
        text-decoration: none;
        box-shadow: none;
      }

      // dropdown-item de Cerrar sesión
      &.item-danger {
        color: $danger;

        &:hover {
          outline: $hover-outline-danger;
          color: $hover-color-danger;

          .item-text {
            text-decoration: underline;
            text-decoration-color: transparent;
          }
        }

        &:focus {
          box-shadow: $focus-box-shadow-danger;
          outline: $outline-transparent;
          color: $danger;

          &:hover {
            .item-text {
              text-decoration: underline;
              text-decoration-color: transparent;
            }
          }
        }

        &:active {
          color: $white;
          background-color: $active-color-danger;
          box-shadow: none;
          outline-color: transparent;
        }

        &.disabled,
        &[disabled] {
          color: $disabled-text;
          pointer-events: none;
        }
      }
    }

    // Desplegable de selección
    // Desplegable radio y checkbox
    .form-checkbox,
    .form-radio.reverse {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      &:hover {
        .form-checkbox-label,
        .form-radio-label {
          outline: $hover-outline;
        }

        .form-checkbox-input:checked,
        .form-checkbox-input:disabled,
        .form-radio-input:checked,
        .form-radio-input:disabled {
          ~ .form-checkbox-label,
          ~ .form-radio-label {
            outline-color: transparent;
          }
        }
      }

      .form-checkbox-label,
      .form-radio-label {
        width: 100%;
        padding-left: 3rem; //48px
        padding-right: 0.75rem; //12px
      }

      .form-checkbox-input,
      .form-radio-input {
        margin: 0.125rem 0.875rem; //2px 14px
        &:checked {
          background-color: $white;
          background-image: $checkbox-image-dropdown;

          ~ .form-checkbox-label,
          ~ .form-radio-label {
            background-color: $active-color;
            color: $white;
          }
        }

        &:focus {
          ~ .form-checkbox-label,
          ~ .form-radio-label {
            padding-right: 0.75rem; //12px
            box-shadow: 0 0 0 0.25rem $active-border-color;
            outline: $outline-transparent;
          }
        }
      }
    }

    //Desplegable Radio
    .form-radio.reverse {
      .form-checkbox-label,
      .form-radio-label {
        padding-right: 3rem; //48px
        padding-left: 0.75rem; //12px
      }

      .form-radio-input {
        margin: 0 0.875rem; //2px 14px
        border-width: 0;
        height: 1.5rem; //24px
        width: 1.5rem; //24px
        max-width: 1.5rem; //24px

        &:checked {
          background-color: transparent;
          box-shadow: none;
          background-image: $radio-image-dropdown;
        }

        &:focus {
          ~ .form-checkbox-label,
          ~ .form-radio-label {
            padding-right: 3rem; //48px
          }
        }
      }
    }

    // Desplegable en cascada
    .dropdown.sub-dropdown {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      .btn-dropdown {
        width: 100%;
        justify-content: space-between;
        gap: $dropdown-item-btn-gap;
        white-space: normal;
        font-size: $md-body-fs;
        font-family: $font-family-sans-serif;
        outline: none;

        &:hover {
          outline: $hover-outline;
        }

        &:focus {
          outline: $outline-transparent;
        }

        .btn-dropdown-text {
          flex-grow: 1;
          text-align: left;
        }

        @include media-breakpoint-up(lg) {
          .btn-dropdown-icon {
            transform: rotate(-90deg);
          }
        }

        &.show {
          background-color: $grisulado-50;
          color: $body-color;
        }
      }

      .dropdown-menu {
        position: static !important;
        transform: none !important;
        box-shadow: none;
        outline-color: transparent;
        margin: 0.25rem 0 !important;

        .dropdown-item {
          @include media-breakpoint-down(lg) {
            padding-left: 2rem;
          }
        }
        @include media-breakpoint-up(lg) {
          outline: $outline-border;
          position: absolute !important;
          inset: 0 auto auto 348px !important;
          margin: 0 0 0 0.5rem !important;
        }
      }
    }

    // Disposición de dropdown-menu a la derecha
    &.dropdown-menu-end {
      inset: 0 0 auto auto !important;
      transform: translate3d(0.5px, 50px, 0) !important;

      .dropdown-item .item-text,
      .sub-dropdown .btn-dropdown .btn-dropdown-text {
        text-align: right;
      }

      .dropdown.sub-dropdown {
        .btn-dropdown {
          .btn-dropdown-icon {
            @include media-breakpoint-up(lg) {
              transform: rotate(90deg);
            }
          }
        }

        .dropdown-menu {
          @include media-breakpoint-up(lg) {
            inset: 0 auto auto -356px !important;
            margin: 0 0.5rem 0 0 !important;
          }
        }
      }
    }
  }

  // Tamaños de dropdown
  &-sm {
    @include dropdown-sm;
  }

  &-lg {
    @include dropdown-lg;
  }
}
