$hero-wave-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1222 380'><path d='M0 -266.373H1181.71C1181.71 -178.591 1222 -178.591 1222 -90.8088C1222 -3.02698 1181.71 -3.02698 1181.71 84.7549C1181.71 172.537 1222 172.537 1222 260.319C1222 348.1 1181.71 348.1 1181.71 435.882H0V-266.373Z'/></svg>");
$hero-wave-mobile-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 588'><path d='M633.555 -339L633.555 557.44C546.36 557.44 546.36 588 459.166 588C371.971 588 371.971 557.44 284.777 557.44C197.582 557.44 197.582 588 110.388 588C23.1932 588 23.1932 557.44 -64.0013 557.44L-64.0012 -339L633.555 -339Z'/></svg>");
$hero-ripple-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1198 348'><path d='M0.259766 174.44H1177C1177 205.188 1197.32 205.188 1197.32 235.935C1197.32 266.682 1177 266.682 1177 297.43C1177 328.178 1197.32 328.178 1197.32 358.925C1197.32 389.673 1177 389.673 1177 420.42L0.261065 418.594L0.259766 174.44Z'/><path d='M0.259766 -71.5399H1177C1177 -40.7924 1197.32 -40.7924 1197.32 -10.0449C1197.32 20.7026 1177 20.7026 1177 51.4501C1177 82.1976 1197.32 82.1976 1197.32 112.945C1197.32 143.693 1177 143.693 1177 174.44H0.259766V-71.5399Z'/></svg>");
$hero-ripple-mobile-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 354 378'><path d='M176.66 0.140137L176.66 365.002C150.568 365.002 150.568 377.44 124.475 377.44C98.3826 377.44 98.3826 365.002 72.2902 365.002C46.1976 365.002 46.1976 377.44 20.1051 377.44C-5.98735 377.44 -5.98735 365.002 -32.0798 365.002L-32.0798 0.140128L176.66 0.140137Z'/><path d='M385.4 0.140137L385.4 365.002C359.308 365.002 359.308 377.44 333.215 377.44C307.123 377.44 307.123 365.002 281.03 365.002C254.938 365.002 254.938 377.44 228.845 377.44C202.753 377.44 202.753 365.002 176.66 365.002L176.66 0.140128L385.4 0.140137Z'/></svg>");

$content-colors: (
  'green': $green-300,
  'sky': $sky-300,
  'blue': $blue-200,
  'red': $red-300,
  'cyan': $cyan-400,
  'yellow': $yellow-300,
	'purple': $purple-700,
);

$muted-color: #D1D8E0;
$aside-colors: (
	'sky': $sky-900,
	'muted': $muted-color,
);

@mixin mask-size-cover {
	mask-size: cover;
	-webkit-mask-size: cover;
}

header.hero {
	display: flex;
	flex-direction: column;
	min-height: 500px;
	background-color: $muted-color;

	.content {
		flex-grow: 1;
		flex-shrink: 1;
		position: relative;
		padding: 2rem;

		&::after {
			content: '';
			position: absolute;	
			background: $muted-color;
			z-index: 1;
			right: 0;
			width: 100%;
			bottom: -64px;
			height: 65px;
		}

		&.wave::after {
			mask: $hero-wave-mobile-svg no-repeat bottom;
			-webkit-mask: $hero-wave-mobile-svg no-repeat bottom;
			@include mask-size-cover;
		}

		&.ripple::after {
			mask: $hero-ripple-mobile-svg no-repeat bottom;	
			-webkit-mask: $hero-ripple-mobile-svg no-repeat bottom;
			@include mask-size-cover;
		}

		&.corner::after {
			bottom: -39px;	
			height: 40px;
			border-radius: 0;
			border-bottom-right-radius: 40px;
		}
	}

	.aside {
		width: 100%;
		min-height: 100px;
		min-width: 100%;
		max-height: 40%;
		position: relative;
		overflow: hidden;
		background-color: #fff;
	}

	@each $name, $color in $aside-colors {
		.aside.#{$name} {
			background-color: $color;
		}
	}

	@media (width >= 768px) {
		min-height: 380px;
		flex-direction: row;
		padding-left: calc((100% - 720px) / 2 + 0.75rem);

		.content {
			padding: 0;

			&::after {
				bottom: auto;
				top: 0;
				right: -54px;
				width: 55px;
				height: 100%;
			}

			&.wave::after {
				mask: $hero-wave-svg no-repeat right;
				-webkit-mask: $hero-wave-svg no-repeat right;
				@include mask-size-cover;
			}

			&.ripple::after {
				mask: $hero-ripple-svg no-repeat right;
				-webkit-mask: $hero-ripple-svg no-repeat right;
				@include mask-size-cover;
			}

			&.corner::after {
				height: 100%;
				width: 80px;
				right: -80px;
				border-radius: 0;
				border-top-right-radius: 80px;
			}
		}

		.aside {
			flex-shrink: 0;
			flex-grow: 0;
			width: auto;
			min-width: 200px;
			max-width: 40%;
		}
	}

	@media (width >= 1200px) {
		padding-left: calc((100% - 1140px) / 2 + 0.75rem);
	}
}

@each $name, $color in $content-colors {
  header.hero.#{$name} {
    background-color: $color;

    .content::after {
      background-color: $color;
    }
  }
}