$hero-wave-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1022 490'><path d='M993.386 245C993.386 275.625 1021.5 275.625 1021.5 306.25C1021.5 336.875 993.386 336.875 993.386 367.5C993.386 398.125 1021.5 398.125 1021.5 428.75C1021.5 459.375 993.386 459.375 993.386 490H953.856L953.855 0H993.386C993.386 30.625 1021.5 30.625 1021.5 61.25C1021.5 91.875 993.386 91.875 993.386 122.5C993.386 153.125 1021.5 153.125 1021.5 183.75C1021.5 214.375 993.386 214.375 993.386 245Z'/><path d='M0.5 0H953.855V490H0.5V0Z'/></svg>");
$hero-wave-mobile-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360 444'><path d='M115 421.265C84.375 421.265 84.375 443.5 53.75 443.5C23.125 443.5 23.125 421.265 -7.5 421.265C-38.125 421.265 -38.125 443.5 -68.75 443.5C-99.375 443.5 -99.375 421.265 -130 421.265V390.001L360 390V421.265C329.375 421.265 329.375 443.5 298.75 443.5C268.125 443.5 268.125 421.265 237.5 421.265C206.875 421.265 206.875 443.5 176.25 443.5C145.625 443.5 145.625 421.265 115 421.265Z'/><path d='M360 0.5V390H-130V0.5H360Z'/></svg>");
$hero-wave-mobile-lg-svg: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 768 332'><path d='M629 309.265C598.375 309.265 598.375 331.5 567.75 331.5C537.125 331.5 537.125 309.265 506.5 309.265C475.875 309.265 475.875 331.5 445.25 331.5C414.625 331.5 414.625 309.265 384 309.265V278.001L874 278V309.265C843.375 309.265 843.375 331.5 812.75 331.5C782.125 331.5 782.125 309.265 751.5 309.265C720.875 309.265 720.875 331.5 690.25 331.5C659.625 331.5 659.625 309.265 629 309.265Z'/><path d='M139 309.265C108.375 309.265 108.375 331.5 77.75 331.5C47.125 331.5 47.125 309.265 16.5 309.265C-14.125 309.265 -14.125 331.5 -44.75 331.5C-75.375 331.5 -75.375 309.265 -106 309.265V278.001L384 278V309.265C353.375 309.265 353.375 331.5 322.75 331.5C292.125 331.5 292.125 309.265 261.5 309.265C230.875 309.265 230.875 331.5 200.25 331.5C169.625 331.5 169.625 309.265 139 309.265Z'/><path d='M768 0V278H0V0H768Z'/></svg>");

$content-colors: (
  'sky': $sky-300,
  'blue': $blue-300,
  'cyan': $cyan-500,
  'yellow': $yellow-400,
  'red': $red-300,
  'purple': $purple-300,
  'light': $light,
  'dark': $dark,
);

$aside-colors: (
  'dark': $dark,
  'muted': $slate-200,
);

@mixin mask-size-cover {
  mask-size: cover;
}

header.hero {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  background-color: map-get($content-colors, 'sky');

  .content {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    padding: 2rem;

    &::after {
      content: '';
      position: absolute;
      background: map-get($content-colors, 'sky');
      z-index: 1;
      right: 0;
      width: 100%;
      bottom: -49px;
      height: 50px;
    }

    &.wave::after {
      mask: $hero-wave-mobile-svg no-repeat bottom;
      @include mask-size-cover;
    }

    &.corner::after {
      bottom: -31px;
      height: 32px;
      border-radius: 0;
      border-bottom-right-radius: 32px;
    }
  }

  .aside {
    width: 100%;
    min-height: 100px;
    min-width: 100%;
    max-height: 40%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }

  @each $name, $color in $aside-colors {
    .aside.#{$name} {
      background-color: $color;
    }
  }

  @media (width >= 576px) {
    .content {
      &::after {
        bottom: -29px;
        height: 30px;
      }

      &.wave::after {
        mask: $hero-wave-mobile-lg-svg no-repeat bottom;
        @include mask-size-cover;
      }

      &.corner::after {
        bottom: -47px;
        height: 48px;
        border-bottom-right-radius: 48px;
      }
    }
  }

  @media (width >= 768px) {
    min-height: 380px;
    flex-direction: row;
    padding-left: calc((100% - 720px) / 2 + 0.75rem);

    .content {
      padding: 0;

      &::after {
        bottom: auto;
        top: 0;
        right: -49px;
        width: 50px;
        height: 100%;
      }

      &.wave::after {
        mask: $hero-wave-svg no-repeat right;
        @include mask-size-cover;
      }

      &.corner::after {
        height: 100%;
        width: 48px;
        right: -48px;
        border-radius: 0;
        border-top-right-radius: 80px;
      }
    }

    .aside {
      flex-shrink: 0;
      flex-grow: 0;
      width: auto;
      min-width: 200px;
      max-width: 50%;
    }
  }

  @media (width >= 1200px) {
    padding-left: calc((100% - 1140px) / 2 + 0.75rem);
  }
}

@each $name, $color in $content-colors {
  header.hero.#{$name} {
    background-color: $color;

    .content::after {
      background-color: $color;
    }
  }
}
