// Custom variables and mixins
// MIXIN GENERAL
@mixin panel-content($flex-direction, $media-query) {
  display: flex;
  flex-direction: #{$flex-direction};
  width: 100%;
  gap: 2rem;
  background-color: transparent;
  border-radius: 0;
  border: none;

  .panel-img,
  video {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
    border-radius: 0.5rem;
  }

  .panel-body {
    padding: 0;
    width: 100%;
    max-width: 728px;

    .panel-title {
      margin: 0;
    }

    .panel-footer {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 24px;

      .list-group-item {
        width: 100%;
        max-width: 348px;
        display: flex;
        margin-bottom: 2px;
      }

      .btn-block {
        width: 100%;
      }

      a.btn,
      a.download-link {
        display: flex;
      }
    }
  }

  // Responsive
  @include media-breakpoint-down(#{$media-query}) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5rem 0.75rem;
    margin: 0 auto;
    height: auto;

    .panel-img,
    video {
      max-width: 100%;
      height: 392px;
    }

    .panel-body {
      max-width: 100%;

      .panel-footer {
        flex-direction: row;
        margin-top: 1.25rem;

        .download-link {
          width: fit-content;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 1.5rem 1rem;
    max-width: 540px;

    .panel-img,
    video {
      height: 296px;
    }
  }
}

// ESTILOS PARA PANEL VERTICAL
.panel-vertical {
  @include panel-content(column, xl);
  gap: 0;
  border-radius: 24px;
  height: 100%;
  max-width: 538px;

  .panel-img,
  video {
    height: 304px;
    border-radius: 24px 24px 0 0;
  }

  .panel-title {
    @extend .h5;
  }

  .panel-body,
  .panel-body-dark {
    padding: 2rem;
    width: 100%;
    min-height: 282px;
    flex: 1;
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-direction: column;
    background-color: $slate-50;

    &.panel-body-dark {
      background-color: $sky-900;
      color: $white;
    }

    &.panel-sin-multimedia-v {
      border-radius: 24px;
    }

    .panel-text {
      margin-bottom: 24px;
    }

    .panel-footer {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  @include media-breakpoint-down(xl) {
    height: auto !important;

    .panel-body,
    .panel-body-dark {
      height: auto;
      min-height: unset;
      padding: 2rem;
    }
  }
}

// ESTILOS PARA PANEL HORIZONTAL
.panel-horizontal-content {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $white;
  border-radius: 0.5rem !important;

  @include media-breakpoint-down(xl) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .panel-horizontal {
    @extend .container;
    align-items: center;
    @include panel-content(row, xl);
  }

  .panel-img,
  video {
    width: 100%;
    max-width: 538px;
    height: 304px;
    border-radius: $border-radius-lg;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
  }
}

// ESTILOS PARA PANEL LATERAL
.panel-lateral {
  @include panel-content(column, xl);
  padding: 2rem 1.5rem;
  background-color: $slate-50;
  border-radius: 0.5rem;

  @include media-breakpoint-down(xl) {
    padding: 1.5rem 1rem;
  }
}
