/* === Variable and mixins overides === */
$modal-header-padding-x: space-units(6);
$modal-header-padding-y: space-units(6);
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;
$modal-inner-padding-x: space-units(6);
$modal-inner-padding-y: space-units(4);
$modal-inner-padding: $modal-inner-padding-y $modal-inner-padding-x;
$modal-inner-padding-bottom: 1.125rem;
$modal-footer-margin-between: space-units(3);
$modal-content-border-radius: space-units(2);
$modal-sm: 340px;
$modal-mobile: 328px;
$modal-dialog-margin-y-sm-up: 3rem;

/* === Custom variables and mixins === */
.modal {
  //?new
  .modal-sm {
    min-width: 340px;
  }

  .form-group {
    input,
    textarea {
      margin-bottom: $modal-inner-padding;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-content {
    border: none;
    padding: 1.5rem;
    outline: 0.125rem solid transparent;

    .modal-header {
      border-bottom: 0;
      padding: 0 0 0.5rem;
      display: flex;
      flex-direction: column;

      //?new
      align-items: flex-start;
      box-shadow: 0 1px 0 0 $grisulado-50;

      &.unbordered {
        box-shadow: none;
        background: none;
      }

      small {
        margin-bottom: 0.5rem;
        color: $blue-900;
      }

      .modal-title {
        font-size: 1.25rem;
        font-weight: 600;
        color: $blue-900;
        line-height: 24px;
      }
    }

    .modal-body {
      padding: space-units(2) 0 0;
      color: $blue-900;
      line-height: 24px;

      > *:last-child {
        margin: 0;
      }
    }

    .modal-footer {
      border-top: 0;
      padding: 1rem 0 0;
      gap: 0.5rem;

      button.btn {
        margin: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      width: $modal-mobile;
      margin: auto;
      padding: 1rem;
    }
  }
}
