// Custom Variable and mixins
$scroll-border-radius: 100px;

// Custom styles
.responsive-scroll {
  padding: 0.5rem;
  border: none;
  display: flex;
  overflow: auto;
  border-radius: $border-radius-lg;
  scrollbar-color: auto;

  &.has-card-items {
    @include media-breakpoint-up(md) {
      overflow: hidden;
    }
  }

  @include media-breakpoint-down(md) {
    overflow-x: auto;

    .card-items-3 {
      display: flex;
      flex-wrap: nowrap;
      max-width: 410px;
    }

    .card-items-3 > .col {
      flex: 0 0 auto;
    }
  }

  &:has(> .table) {
    padding: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius-3xl $border-radius-3xl $border-radius-xl
      $border-radius-xl;

    .table {
      border: none;

      thead {
        tr {
          th {
            &:first-of-type {
              border-top-left-radius: unset;
            }

            &:last-of-type {
              border-top-right-radius: unset;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            td:first-of-type {
              border-bottom-left-radius: unset;
            }

            td:last-of-type {
              border-bottom-right-radius: unset;
            }
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: $scroll-border-radius;
    outline: 0.125rem solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: $slate-50;
    border-radius: $scroll-border-radius;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $slate-400;
    border-radius: $scroll-border-radius !important;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &:focus-visible {
    box-shadow: $focus-box-shadow;
    outline: none;
  }
}

//Por accesibilidad en Modo Alto Contraste, se agrega color de fondo blanco a la barra de desplazamiento
@media (forced-colors: active) {
  .responsive-scroll {
    &:focus {
      outline: 0.25rem solid transparent;
    }

    &::-webkit-scrollbar-thumb {
      forced-color-adjust: none;
      background-color: white;
    }
  }
}

//Esta clase es independiente de .table-responsive, de manera que si en drupal no se usa, se puede eliminar la clase .table-responsive
