.ob-skeleton {
  @keyframes ob-skeleton-shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .ob-placeholder {
    position: relative;
    overflow: hidden;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    opacity: 0.5;
    background-color: $dark;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.25) 50%,
        transparent 100%
      );
      animation: ob-skeleton-shimmer 1.5s infinite;
    }
  }

	// HEADER
	.o-header {
		.ob-placeholder-action {
			min-height: 48px;
			border-radius: 0.5rem;
			width: 100%;
		}
	}
}
