.ob-skeleton {
  @keyframes ob-skeleton-shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
  cursor: wait;
  .ob-placeholder {
    position: relative;
    overflow: hidden;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    opacity: 0.5;
    background-color: $dark;
    border-radius: 2px;
    color: transparent;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, transparent 0%, rgb(255 255 255 / 25%) 50%, transparent 100%);
      animation: ob-skeleton-shimmer 1.5s infinite;
    }

    // BADGE
    &.badge {
      outline: 0px transparent;
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        all: unset;
      }
    }
  }

  // BANNER
  &.banner {
    .ob-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }
    }

    a.ob-placeholder {
      color: transparent;
      text-decoration: none;
      outline: 0;
    }

    a.ob-placeholder:active,
    a.ob-placeholder:focus,
    a.ob-placeholder:hover {
      color: transparent;
      text-decoration: none;
      outline: 0;
    }

    &.banner-dark {
      .ob-placeholder {
        background-color: $light;

        &::after {
          background: linear-gradient(90deg, transparent 0%, rgb(0 0 0 / 25%) 50%, transparent 100%);
        }
      }
    }
  }

  // HEADER
  &.o-header {
    .ob-placeholder-action {
      min-height: 48px;
      border-radius: 0.5rem;
      width: 100%;
    }
  }

  // FOOTER
  &.main-footer {
    .ob-placeholder {
      background-color: $light;

      &::after {
        background: linear-gradient(90deg, transparent 0%, rgb(0 0 0 / 25%) 50%, transparent 100%);
      }
    }

    .ob-placeholder-icon {
      width: 24px;
      height: 24px;
    }

    .ob-placeholder-logo {
      width: 100%;
      height: 40px;
    }
  }
}
