.ob-skeleton {
  @keyframes ob-skeleton-shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
  cursor: wait;

  .ob-placeholder {
    position: relative;
    overflow: hidden;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    cursor: wait;
    opacity: 0.5;
    background-color: $dark;
    border-radius: 2px;
    color: transparent;
    pointer-events: none;

    // enlaces dentro de un elemento con la clase .ob-placeholder
    a {
      color: transparent;
      text-decoration: none;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        90deg,
        transparent 0%,
        rgb(255 255 255 / 25%) 50%,
        transparent 100%
      );
      animation: ob-skeleton-shimmer 1.5s infinite;
    }

    // BADGE
    // las etiquetas llevan este estilo acá, porque el 'ob-skeleton' lo lleva un div que las contiene. no lleva 'ob-skeleton' a la misma altura de .badge
    &.badge {
      outline: 0 transparent;
      text-decoration: none;
    }
  }

  // ALERTAS
  &.alert {
    position: relative;
    background-color: $slate-200 !important;
    
    .ob-placeholder {
      a {
        color: transparent !important; // es la única manera de hacerlo, porque en los estilos del componente lleva !important
        text-decoration: none;
      }
    }

    ol.ob-placeholder {
      color: transparent !important; // es la única manera de hacerlo, porque en los estilos del componente lleva !important
    }

    &::before {
      content: "";
      position: absolute;
      left: 1rem;
      top: 1.25rem;
      width: 1.25rem;
      height: 1.25rem;
      background-color: $dark;
      opacity: 0.5;
      border-radius: 2px;
      overflow: hidden;
      background-image: linear-gradient(90deg, transparent 0%, rgb(255 255 255 / 25%) 50%, transparent 100%);
      background-size: 200% 100%;
      background-repeat: no-repeat;
      animation: ob-skeleton-shimmer 1.5s infinite;
    }
  }

  // BANNER
  &.banner {
    .ob-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }
    }

    a.ob-placeholder {
      color: transparent;
      text-decoration: none;
      outline: 0;
    }

    a.ob-placeholder:active,
    a.ob-placeholder:focus,
    a.ob-placeholder:hover {
      color: transparent;
      text-decoration: none;
      outline: 0;
    }

    &.banner-dark {
      .ob-placeholder {
        background-color: $light;

        &::after {
          background: linear-gradient(
            90deg,
            transparent 0%,
            rgb(0 0 0 / 25%) 50%,
            transparent 100%
          );
        }
      }
    }
  }

  // HEADER
  &.o-header {
    .ob-placeholder-action {
      min-height: 48px;
      border-radius: 0.5rem;
      width: 100%;
    }
  }

  // FOOTER
  &.main-footer {
    .ob-placeholder {
      background-color: $light;

      &::after {
        background: linear-gradient(
          90deg,
          transparent 0%,
          rgb(0 0 0 / 25%) 50%,
          transparent 100%
        );
      }
    }

    .ob-placeholder-icon {
      width: 24px;
      height: 24px;
    }

    .ob-placeholder-logo {
      width: 100%;
      height: 40px;
    }
  }
}
