/* === Custom Variable and mixins === */
$spinner-border-width: 0.25rem;
$spinner-border-right-color: $grisulado-50;

$spinner-border-width-sm: 0.125rem;

$spinner-border-size-lg: 3rem;
$spinner-border-width-lg: 0.375rem;

/* === Custom styles === */
.spinner {
  &-border {
    border-right-color: $spinner-border-right-color;
    min-width: 2rem;
    border-width: $spinner-border-width;

    &:is(.text-light) {
      border-color: $grisulado-50;
      border-right-color: transparent;
    }

    &-lg {
      width: $spinner-border-size-lg;
      min-width: $spinner-border-size-lg;
      height: $spinner-border-size-lg;
      border-width: $spinner-border-width-lg;
    }

    &-sm {
      min-width: 1rem;
      border-width: $spinner-border-width-sm;
    }
  }

  &-block {
    @extend .spinner-border;
    border-width: $spinner-border-width;
    height: inherit;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
