$nav-link-fixed-width: 15.625rem;
$border-radius-tabs: 0.5rem 0.5rem 0 0;

.tabs-box {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;

  /* tabs-controls es el contenedor de los botones prev y next */
  &:has(.tabs-controls) {
    padding: 0 3rem;
  }

  .nav {
    width: fit-content;
    overflow-x: hidden;

    /* Esta clase "fixed-width" genera la variante ancho completo de tabs */
    &.fixed-width {
      .nav-item > .nav-link {
        width: auto;
        min-width: $nav-link-fixed-width;

        @include media-breakpoint-down(md) {
          min-width: auto;
        }
      }
    }

    /* Esta seccion define los tamaños disponibles para tabs */
    &.tabs {
      gap: 0.0625rem; // 1px
      flex-flow: row nowrap;
      text-align: center;
      padding-bottom: 0.25rem;

      .nav-item {
        white-space: nowrap;

        .nav-link {
          background: transparent;
          transition: font-weight 0.4s ease-in-out;

          &:hover {
            outline-color: transparent;
          }

          &:focus {
            box-shadow: inset $focus-box-shadow;
            outline-offset: -0.25rem;
          }

          &.active,
          &:active {
            -webkit-text-stroke: 0.5px $body-color;
            color: $body-color;
            border-radius: $border-radius-tabs;
            box-shadow: inset 0 -0.25rem 0 0 $active-color;
            outline: 0.25rem solid transparent;
            outline-offset: -0.25rem;

            &:hover {
              box-shadow: inset 0 -0.25rem 0 0 $active-color;
              background-color: transparent;
            }

            &:focus {
              background-color: transparent;
            }

            &:focus-visible {
              border-radius: $border-radius-lg;
              box-shadow: inset $focus-box-shadow;
              background-color: transparent;
            }
          }

          //Estilo de pestaña con icono
          .nav-icon {
            justify-content: center;
            gap: 0.625rem;
          }
        }

        &[draggable='true'] {
          cursor: move;
        }
      }

      /* Estilos para pestañas con fondo, son dos variables de fondo, nav-box y nav-box-bg  */
      &.nav-box {
        border: none;
        padding: 0;

        .nav-item {
          .nav-link {
            background-color: $grisulado-100;
            border-radius: $border-radius-tabs;
            border: none;

            &:focus {
              border-radius: $border-radius-lg;
            }

            &.active,
            &:active {
              background-color: $grisulado-50;
              border-radius: $border-radius-tabs;
              color: $active-color;
              box-shadow: none;

              &:focus-visible {
                border-radius: 0.5rem;
                box-shadow: inset $focus-box-shadow;
              }
            }

            &.disabled,
            &:disabled {
              color: $disabled-text;
              background-color: $disabled-bg;
            }
          }
        }

        &-bg {
          @extend .nav-box;

          .nav-item {
            .nav-link {
              &.active,
              &:active {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }

  /* Estilos para botones prev y next de el slider de la pestaña */
  .prev,
  .next {
    width: 3rem;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0.75rem;

    > span {
      font-size: 1.5rem;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }
}
