/* === Estilos de headings de h1 a h6 ====  */
@each $i, $styles in $heading-styles {
  .h#{$i},
  h#{$i} {
    font-family: $font-family-headings;
    font-size: map-get($styles, font-size);
    line-height: map-get($styles, line-height);
    font-weight: map-get($styles, font-weight);
  }
}
@each $i, $size in $heading-sizes-mobile {
  @include media-breakpoint-down(md) {
    .h#{$i},
    h#{$i} {
      font-size: $size;
    }
  }
}

/* === Estilos de headline (Titulares)  ====  */
@each $i, $styles in $headline-styles {
  .headline-#{$i} {
    font-family: $font-family-headings;
    font-size: map-get($styles, font-size);
    line-height: map-get($styles, line-height);
    font-weight: map-get($styles, font-weight);
  }
}

/* === Estilos de Cuerpo  ====  */
@each $i, $styles in $body-styles {
  .text-#{$i} {
    font-family: $font-family-sans-serif;
    font-size: map-get($styles, font-size);
    line-height: map-get($styles, line-height);
    font-weight: map-get($styles, font-weight);
  }
}

p {
  @extend .text-md;
}

small,
.small {
  @extend .text-sm;
}
/* === Estilos de Subrayado  ====  */
.underline-1 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.underline-2 {
  text-decoration: underline;
}
/* === Estilos de Citas  ====  */
blockquote {
  padding: 1.5rem 2rem;
  margin: 0;
  border-left: 0.25rem solid $grisulado-700;
  font-style: italic;

  p {
    font-size: $lg-body-fs;
    margin-bottom: 0.75rem;
  }

  .author {
    font-size: $sm-body-fs;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
    font-style: normal;
  }
}
/* === Estilos Truncamiento de texto  ====  */
/* Clases 'ellipsis-' de 1 linea a 4 lineas (ellipsis-1, ellipsis-2, ..) */
@for $i from 1 through 4 {
  .ellipsis-#{$i} {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$i};
    line-clamp: #{$i};
  }
}
