.tabCodeContainer {
    outline: .125rem solid #E6EBF0;
    outline-offset: -.125rem;
    border-radius: 0 .75rem .75rem .75rem;
    &.expanded {
        padding-bottom: 1rem;
    }
}
.codeBoxDisplay {
    border-radius: .75rem;
    overflow-y: hidden;
    position: relative;
}
.codeBoxButton {
    position: absolute;
    top: .375rem;
    right: 1rem;
    min-width: 140px;
}
.codeBoxButtonIcon {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
    &.expanded {
      transform: rotate(180deg);
      transition: transform 0.2s ease-in-out;
    }
}
.codeBoxCopyCode {
    padding: 2.25rem 1rem .5rem;
    border-radius: .75rem;
    position: relative;
}
.faded {
    position: absolute;
    top: 2.75rem;
    width: calc(100% - 2rem);
    height: calc(100% - 66px);
    z-index: 1;
    border-radius: .25rem;
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9));
    max-height: 258px;
}