.max-items-1 {
  @extend .row;
  @include media-breakpoint-down(md) {
    row-gap: 1rem;
  }
  @extend .row-cols-1;
  @include media-breakpoint-between(md, xl) {
    row-gap: 1.5rem;
  }
  row-gap: 2rem;
}

.max-items-2 {
  @extend .max-items-1;
  @extend .row-cols-md-2;
}

.max-items-3 {
  @extend .max-items-2;
  @extend .row-cols-xl-3;
}

.max-items-4 {
  @extend .max-items-3;
  @extend .row-cols-xxl-4;
}

// Entre 768px y 1199px (tablet) el gap entre elementos es de 24px, por lo que se modifica el padding y margins, manteniendo el area dise침able en 696px (entre 768px y 991px) y 936px (entre 992px y 1199px)
@include media-breakpoint-between(md, xl) {
  .container-md,
  .container-sm,
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .row > * {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

// Disposici칩n de Accesos

// 1 Columna
.access-items-1 {
  @extend .max-items-1;
}

// 3 Columnas
.access-items-3 {
  @extend .access-items-1;
  @extend .row-cols-md-2;
  @extend .row-cols-xl-3;

  &.row-cols-md-1 {
    @extend .row-cols-md-1;
    @extend .row-cols-xl-3;
  }
}

// 4 Columnas
.access-items-4 {
  @extend .access-items-3;
  @extend .row-cols-xl-4;

  &.row-cols-md-1 {
    @extend .row-cols-md-1;
    @extend .row-cols-xl-4;
  }
}

// Disposici칩n de Tarjetas

// 2 Columnas
.card-items-2 {
  @extend .max-items-2;
}

// 3 Columnas
.card-items-3 {
  @extend .max-items-3;
}

.card-items-2,
.card-items-3 {
  .col .card {
    height: 100%;
  }
}

// Disposici칩n de Destacado Conjunto
.highlighted-items-2 {
  @extend .row;
  @extend .row-cols-1;
  @extend .row-cols-xl-2;
  @include media-breakpoint-down(md) {
    row-gap: 1rem;
  }
  @include media-breakpoint-between(md, xl) {
    row-gap: 1.5rem;
  }
  row-gap: 2rem;
  @include media-breakpoint-down(xl) {
    .col {
      padding: 0;
    }
  }

  align-items: stretch;
  .col {
    display: flex;
  }
}
