.max-items-1 {
  @extend .row;
  row-gap: 2rem;
  @extend .row-cols-1;
  @media screen and (min-width: 768) and (max-width: 991) {
    row-gap: 1.5rem;
  }
}
.max-items-2 {
  @extend .max-items-1;
  @extend .row-cols-sm-2;
}
.max-items-3 {
  @extend .max-items-2;
  @extend .row-cols-md-3;
}
.max-items-4 {
  @extend .max-items-3;
  @extend .row-cols-lg-4;
}

.access-items-3 {
  @extend .row;
  row-gap: 2rem;
  @media screen and (min-width: 360px) and (max-width: 991px) {
    a.list-group-item {
      max-width: 100%;
    }
    row-gap: 1.5rem;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    row-gap: 1rem;
  }

  @extend .row-cols-1;
  @extend .row-cols-lg-3;
}
.access-items-4 {
  @extend .access-items-3;
  @extend .row-cols-lg-4;
}

// Entre 768px y 991px el gap entre elementos es de 24px, por lo que se modifica el padding y margins, manteniendo el area diseñable en 688px
@media (min-width: 768px) and (max-width: 991px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 712px; // 688px + 24px
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .row > * {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
