.max-items-1 {
  @extend .row;
  @media screen and (width < 768px) {
    row-gap: 1rem;
  }
  @extend .row-cols-1;
  @media screen and (width >= 768px) and (width <= 1199px) {
    row-gap: 1.5rem;
  }
  row-gap: 2rem;
}

.max-items-2 {
  @extend .max-items-1;
  @extend .row-cols-sm-2;
}

.max-items-3 {
  @extend .max-items-2;
  @extend .row-cols-md-3;
}

.max-items-4 {
  @extend .max-items-3;
  @extend .row-cols-lg-4;
}

// Entre 768px y 1199px (tablet) el gap entre elementos es de 24px, por lo que se modifica el padding y margins, manteniendo el area diseñable en 696px (entre 768px y 991px) y 936px (entre 992px y 1199px)
@media (width >= 768px) and (width <= 1199px) {
  .container-md,
  .container-sm,
  .container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .row > * {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

// Disposición de accesos

// 1 Columna
.access-items-1 {
  @extend .max-items-1;
}

// 3 Columnas
.access-items-3 {
  @extend .access-items-1;
  @extend .row-cols-md-2;
  @extend .row-cols-xl-3;

  &.row-cols-md-1 {
    @extend .row-cols-md-1;
    @extend .row-cols-xl-3;
  }
}

// 4 Columnas
.access-items-4 {
  @extend .access-items-3;
  @extend .row-cols-xl-4;

  &.row-cols-md-1 {
    @extend .row-cols-md-1;
    @extend .row-cols-xl-4;
  }
}
