// src/styles/main.scss

// Import Obelisco colors
@import "variables/colors";
@import "variables/fonts";
// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Import custom variables and mixins
@import "variables/typography";
@import "variables/breakpoints";
@import "variables/mixins";

// Import utilities
@import "utilities/globals";

// Import component styles
@import "components/typography";
@import "components/colors";
@import "components/nav";
@import "components/link";

// @import "components/card";
@import "components/tooltip";
@import "components/switch";
@import "components/modal";
@import "components/status-message";
@import "components/dropdown";
@import "components/tabs";
@import "components/badge";
