.header_logos {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  .logos_separator {
    border-right: 2px solid red !important;
    padding: 10px 20px;
    // height: 60px;
  }
}
