// Color system

/* === Gray scale === */
$gray-50: #F2F2F2;
$gray-100: #E5E5E5;
$gray-200: #CCCCCC;
$gray-300: #B2B2B2;
$gray-400: #999999;
$gray-500: #7F7F7F;
$gray-600: #666666;
$gray-700: #4C4C4C;
$gray-800: #333333;
$gray-900: #191919;
$gray-950: #000000;

/* === Grisulado === */
$grisulado-50: #F3F6F9;
$grisulado-100: #E6EBF0;
$grisulado-200: #D1D8E0;
$grisulado-300: #B8C1CC;
$grisulado-400: #9EAAB8;
$grisulado-500: #8A97A8;
$grisulado-600: #69788A;
$grisulado-700: #5C6A7A;
$grisulado-800: #505E70;
$grisulado-900: #425266;
$grisulado-950: #38485C;

/* === Blue === */
$blue-50: #ECF0F9;
$blue-100: #D9E2F2;
$blue-200: #ADC3EB;
$blue-300: #85A5E0;
$blue-400: #5C88D6;
$blue-500: #336ACC;
$blue-600: #2E569E;
$blue-700: #274986;
$blue-800: #1C345F;
$blue-900: #101E37;
$blue-950: #080F1C;

/* === Yellow === */
$yellow-50: #FFFAE5;
$yellow-100: #FFF5CC;
$yellow-200: #FFEB99;
$yellow-300: #FFE066;
$yellow-400: #FFD633;
$yellow-500: #FFCC00;
$yellow-600: #CCA300;
$yellow-700: #997A00;
$yellow-800: #665200;
$yellow-900: #332900;
$yellow-950: #1A1500;

/* === Orange === */
$orange-50: #FFF4E5;
$orange-100: #FFEACC;
$orange-200: #FFD599;
$orange-300: #FFBF66;
$orange-400: #FFAA33;
$orange-500: #FF9500;
$orange-600: #CC7700;
$orange-700: #995900;
$orange-800: #663C00;
$orange-900: #331E00;
$orange-950: #1A0F00;

/* === Green === */
$green-50: #F2FBF5;
$green-100: #E0F8E9;
$green-200: #C3EFD3;
$green-300: #94E1B0;
$green-400: #5ECA85;
$green-500: #38AF64;
$green-600: #26874A;
$green-700: #237240;
$green-800: #205B36;
$green-900: #1C4B2D;
$green-950: #0A2915;

/* === Red === */
$red-50: #FAEBEB;
$red-100: #F5D6D6;
$red-200: #EBADAD;
$red-300: #E08585;
$red-400: #D65C5C;
$red-500: #CC3333;
$red-600: #A32929;
$red-700: #7A1F1F;
$red-800: #521414;
$red-900: #290A0A;
$red-950: #140505;

/* === Purple === */
$purple-50: #F7E5FF;
$purple-100: #F0CCFF;
$purple-200: #E299FF;
$purple-300: #D366FF;
$purple-400: #C433FF;
$purple-500: #B600FF;
$purple-600: #9100CC;
$purple-700: #6D0099;
$purple-800: #490066;
$purple-900: #240033;
$purple-950: #12001A;

/* === Cyan === */
$cyan-50: #F3FCFB;
$cyan-100: #E2F8F5;
$cyan-200: #CAF2EC;
$cyan-300: #ADEBE2;
$cyan-400: #8DE2D6;
$cyan-500: #64D8C8;
$cyan-600: #3CCEB8;
$cyan-700: #2BAB98;
$cyan-800: #218274;
$cyan-900: #10413A;
$cyan-950: #08211D;

/* === Sky === */
$sky-50: #E5F9FF;
$sky-100: #CCF3FF;
$sky-200: #99E8FF; //color cromatico sky
$sky-300: #66DCFF;
$sky-400: #33D1FF;
$sky-500: #00C5FF;
$sky-600: #0086AD;
$sky-700: #005E7A;
$sky-800: #004357;
$sky-900: #002733;
$sky-950: #001419;

/* === Colors palette === */
$blue: $blue-500;
$red: $red-500;
$orange: $orange-500;
$yellow: $yellow-500;
$green: $green-600;
$teal: #18b596;
$cyan: $cyan-400;
$purple: $purple-200;
$white: #FFFFFF;
$black: #000000;
/*  Colors pastel  */
$sky: #99e8ff;
$lavender: #99b5ff;
$blackberry: #af99ff;
$berries: #e299ff;
$musket: #ff99e8;
$strawberry: #ff99e5;
$coral: #ffaf99;
$citrus: #ffe299;
$lime: #e8ff99;
$avocado: #b5ff99;
$pistachio: #99ffaf;
$aqua: #99ffe2;

/* === Variables del Theme-color === */
$primary: $blue; //blue-500
$secondary: $blue-900;
$success: $green; //$green-600
$danger: $red; //$red-500;
$warning: $orange; //orange-500
$info: $sky-600;
$light: $grisulado-50;
$dark: $sky-900;

/* === Theme-color === */
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);
$semantic-colors-light-bg: (
  "success": $green-50,
  "danger": $red-50,
  "warning": $orange-50,
  "info": $sky-50,
);
$theme-colors-pastel: (
  "sky": $sky,
  "lavender": $lavender,
  "blackberry": $blackberry,
  "berries": $berries,
  "musket": $musket,
  "strawberry": $strawberry,
  "coral": $coral,
  "citrus": $citrus,
  "lime": $lime,
  "avocado": $avocado,
  "pistachio": $pistachio,
  "aqua": $aqua
);

/* === Body === */
$body-color: $blue-900;
$body-secondary-color: $grisulado-800 !default;

/* === Estados === */
/*  Hover  */
$hover-color: $blue-700;
$hover-box-shadow: 0 0 0 0.125rem $hover-color;
$hover-color-danger: $red-600;
$hover-box-shadow-danger: 0 0 0 0.125rem $hover-color-danger;

/*  Focus  */
$focus-color: $cyan-800;
$focus-box-shadow: 0 0 0 0.25rem $focus-color;
$focus-box-shadow-subtle: 0 0 0 0.125rem $focus-color;
$focus-box-shadow-danger: 0 0 0 0.25rem $red-800;

/*  Active  */
$active-color: $blue-700;
$active-border-color: $blue-800; //#1C345F
$active-border: 0 0 0 0.125rem $active-color;
$active-color-danger: $red-600;

/*  Visited  */
$visited-color: $purple-700; // #6D0099
$visited-bg-dark: $purple-200; // #E299FF

/*  Disabled  */
$disabled-text: $grisulado-600; // #69788A
$disabled-bg: $grisulado-300; // #9EAAB8

/* === Enlace || Style anchor elements. === */
$link-color: $body-color;
$link-hover-color: $hover-color;

/* === Border, Box-shadow, Outline === */
$border-color: $grisulado-100;
$border-color-subtle: $grisulado-100;

$box-shadow: 0 0 0 0.125rem $grisulado-100;
$box-shadow-subtle: 0 0 0 0.125rem $grisulado-50;

$outline-transparent: 0.25rem solid transparent;
$outline-transparent-subtle: 0.125rem solid transparent;