// Colores Primitivos
// Yellow
$yellow-50: #fff2da;
$yellow-100: #ffdf97;
$yellow-200: #ffcd02;
$yellow-300: #dfb300;
$yellow-400: #c09a00;
$yellow-500: #a28100;
$yellow-600: #856a00;
$yellow-700: #6a5300;
$yellow-800: #3d2f00;
$yellow-900: #271d00;
$yellow-950: #0f0800;

// Blue
$blue-50: #e9f5ff;
$blue-100: #c7e7ff;
$blue-200: #a4d9ff;
$blue-300: #82bfe8;
$blue-400: #67a5cd;
$blue-500: #4c8cb3;
$blue-600: #2f7499;
$blue-700: #035c80;
$blue-800: #1d3343;
$blue-900: #08202f;
$blue-950: #000b15;

// Cyan
$cyan-50: #c5fff5;
$cyan-100: #83f6e5;
$cyan-200: #73e6d5;
$cyan-300: #55cabb;
$cyan-400: #35b0a1;
$cyan-500: #009688;
$cyan-600: #007b6f;
$cyan-700: #006157;
$cyan-800: #003832;
$cyan-900: #00241f;
$cyan-950: #000d0a;

// Sky
$sky-50: #e7f6ff;
$sky-100: #c0e8ff;
$sky-200: #98dcff;
$sky-300: #1ec6ff;
$sky-400: #00abde;
$sky-500: #0090bc;
$sky-600: #00769a;
$sky-700: #005d7b;
$sky-800: #003548;
$sky-900: #002230;
$sky-950: #000c13;

// Green
$green-50: #d0ffda;
$green-100: #87faa9;
$green-200: #77ea9a;
$green-300: #5bce80;
$green-400: #3db368;
$green-500: #179950;
$green-600: #007e3e;
$green-700: #00642f;
$green-800: #003a18;
$green-900: #002509;
$green-950: #000d00;

// Orange
$orange-50: #fff1e6;
$orange-100: #ffdcbf;
$orange-200: #ffc898;
$orange-300: #ffa341;
$orange-400: #e88700;
$orange-500: #c47100;
$orange-600: #a25c00;
$orange-700: #814800;
$orange-800: #4b2800;
$orange-900: #2f1900;
$orange-950: #120700;

// Red
$red-50: #fff0ee;
$red-100: #ffdad5;
$red-200: #ffc5bd;
$red-300: #ff9e92;
$red-400: #ff7266;
$red-500: #ea4f48;
$red-600: #cb3232;
$red-700: #ad0b1e;
$red-800: #6a0009;
$red-900: #450200;
$red-950: #1b0200;

// Purple
$purple-50: #fbf0ff;
$purple-100: #f5d9ff;
$purple-200: #efc4ff;
$purple-300: #e39eff;
$purple-400: #d576ff;
$purple-500: #c447ff;
$purple-600: #ad00f3;
$purple-700: #8a00c3;
$purple-800: #520077;
$purple-900: #360051;
$purple-950: #1b0022;

// Slate (antes grisulado)
$slate-50: #edf4ff;
$slate-100: #d6e4f6;
$slate-200: #c7d4e6;
$slate-300: #acb9cb;
$slate-400: #92a0b1;
$slate-500: #7a8697;
$slate-600: #626e7e;
$slate-700: #4a5766;
$slate-800: #253240;
$slate-900: #121f2c;
$slate-950: #000b18;

// Grayscale
$gray-0: #ffffff;
$gray-50: #f3f3f3;
$gray-100: #e2e2e2;
$gray-200: #d3d3d3;
$gray-300: #b8b8b8;
$gray-400: #9e9e9e;
$gray-500: #858585;
$gray-600: #6d6d6d;
$gray-700: #565656;
$gray-800: #313131;
$gray-900: #1e1e1e;
$gray-950: #090909;

// Variables del Theme-color
// PRINCIPALS_COLORS
$primary: $blue-800;
$secondary: $blue-700;
$tertiary: $cyan-500;
$info: $sky-600;
$warning: $orange-400;
$success: $green-700;
$danger: $red-600;
$light: $slate-50;
$dark: $sky-900;

// Colors palette
$blue: $blue-500;
$indigo: $blue-300;
$purple: $purple-700;
$orange: $orange-500;
$red: $red-500;
$yellow: $yellow-500;
$green: $green-600;
$teal: $sky-700;
$cyan: $cyan-800;
$white: #ffffff;
$black: #000000;
$gray: $slate-950;

// Theme-color
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'tertiary': $tertiary,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
);

$semantic-colors-light-bg: (
  'success': $green-50,
  'danger': $red-50,
  'warning': $orange-50,
  'info': $sky-50,
);


// Body
$body-color: $blue-900; // body-primary
$body-secondary-color: $slate-950 !default; // body-secondary

// Colores de Estados
//Hover
$hover-color: $blue-700;
$hover-color-danger: $red-500; // Se usa en cerrar sesión de dropdown
$hover-outline: 0.125rem solid $hover-color; // !
$hover-outline-danger: 0.125rem solid $hover-color-danger; // Se usa en cerrar sesión de dropdown

// Focus
$focus-color: $cyan-800;
$focus-box-shadow: 0 0 0 0.25rem $focus-color;
$focus-box-shadow-subtle: 0 0 0 0.125rem $focus-color;
$focus-box-shadow-danger: 0 0 0 0.25rem $red-800;

$focus-box-shadow-tertiary: 0 0 0 0.25rem $blue-800;

// Active
$active-color: $blue-700;
$active-color-danger: $red-600;

// Visited
$visited-color: $purple-700; // #8a00c3
$visited-ondark: $purple-200; // #efc4ff

// Disabled
$disabled-text: $slate-400; // #92a0b1. Colores de texto.
$disabled-bg: $slate-100; // #d6e4f6; <<VER - REVISAR>>
$disabled-on-dark: $slate-700; // #4a5766

// Enlace || Style anchor elements.
$link-color: $blue-700; // Color de texto.
$link-hover-color: $blue-500; // <<VER - REVISAR>>

// Border, Box-shadow, Outline
$border-color: $slate-100; // $border-neutral
$border-link: $blue-700; // Color de borde de enlace. $border-link
$box-shadow: 0 0 0 0.125rem $slate-100;
$outline-border: 0.125rem solid $slate-100;
$outline-transparent: 0.25rem solid transparent;
$outline-transparent-subtle: 0.125rem solid transparent;

// Inputs
$placeholder-color: $slate-700;

//Rampa de colores
$color-ramp: (
  // Gray
  'gray-0': $gray-0,
  'gray-50': $gray-50,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'gray-950': $gray-950,

  // Slate
  'slate-50': $slate-50,
  'slate-100': $slate-100,
  'slate-200': $slate-200,
  'slate-300': $slate-300,
  'slate-400': $slate-400,
  'slate-500': $slate-500,
  'slate-600': $slate-600,
  'slate-700': $slate-700,
  'slate-800': $slate-800,
  'slate-900': $slate-900,
  'slate-950': $slate-950,

  // Blue
  'blue-50': $blue-50,
  'blue-100': $blue-100,
  'blue-200': $blue-200,
  'blue-300': $blue-300,
  'blue-400': $blue-400,
  'blue-500': $blue-500,
  'blue-600': $blue-600,
  'blue-700': $blue-700,
  'blue-800': $blue-800,
  'blue-900': $blue-900,
  'blue-950': $blue-950,

  // Yellow
  'yellow-50': $yellow-50,
  'yellow-100': $yellow-100,
  'yellow-200': $yellow-200,
  'yellow-300': $yellow-300,
  'yellow-400': $yellow-400,
  'yellow-500': $yellow-500,
  'yellow-600': $yellow-600,
  'yellow-700': $yellow-700,
  'yellow-800': $yellow-800,
  'yellow-900': $yellow-900,
  'yellow-950': $yellow-950,

  // Orange
  'orange-50': $orange-50,
  'orange-100': $orange-100,
  'orange-200': $orange-200,
  'orange-300': $orange-300,
  'orange-400': $orange-400,
  'orange-500': $orange-500,
  'orange-600': $orange-600,
  'orange-700': $orange-700,
  'orange-800': $orange-800,
  'orange-900': $orange-900,
  'orange-950': $orange-950,

  // Green
  'green-50': $green-50,
  'green-100': $green-100,
  'green-200': $green-200,
  'green-300': $green-300,
  'green-400': $green-400,
  'green-500': $green-500,
  'green-600': $green-600,
  'green-700': $green-700,
  'green-800': $green-800,
  'green-900': $green-900,
  'green-950': $green-950,

  // Red
  'red-50': $red-50,
  'red-100': $red-100,
  'red-200': $red-200,
  'red-300': $red-300,
  'red-400': $red-400,
  'red-500': $red-500,
  'red-600': $red-600,
  'red-700': $red-700,
  'red-800': $red-800,
  'red-900': $red-900,
  'red-950': $red-950,

  // Purple
  'purple-50': $purple-50,
  'purple-100': $purple-100,
  'purple-200': $purple-200,
  'purple-300': $purple-300,
  'purple-400': $purple-400,
  'purple-500': $purple-500,
  'purple-600': $purple-600,
  'purple-700': $purple-700,
  'purple-800': $purple-800,
  'purple-900': $purple-900,
  'purple-950': $purple-950,

  // Cyan
  'cyan-50': $cyan-50,
  'cyan-100': $cyan-100,
  'cyan-200': $cyan-200,
  'cyan-300': $cyan-300,
  'cyan-400': $cyan-400,
  'cyan-500': $cyan-500,
  'cyan-600': $cyan-600,
  'cyan-700': $cyan-700,
  'cyan-800': $cyan-800,
  'cyan-900': $cyan-900,
  'cyan-950': $cyan-950,

  // Sky
  'sky-50': $sky-50,
  'sky-100': $sky-100,
  'sky-200': $sky-200,
  'sky-300': $sky-300,
  'sky-400': $sky-400,
  'sky-500': $sky-500,
  'sky-600': $sky-600,
  'sky-700': $sky-700,
  'sky-800': $sky-800,
  'sky-900': $sky-900,
  'sky-950': $sky-950
);
