/* === Familia Tipográfica === */
$font-family-polyfill:
  'Open Sans',
  system-ui,
  -apple-system,
  'Segoe UI',
  roboto,
  'Helvetica Neue',
  arial,
  'Noto Sans',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
$font-family-sans-serif: $font-family-polyfill; // Se sobreescribe variable de Bootstrap
$font-family-base: $font-family-sans-serif; // Se sobreescribe variable de Bootstrap para estilos de body
$font-family-headings: 'Nunito', $font-family-base;
