/* === Titulos | Headings === */
/* font-size Titulos */
$h1-font-size: 2.5rem;
$h2-font-size: 2.25rem;
$h3-font-size: 2rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;
$h1-font-size-mobile: 2.375rem;
$h2-font-size-mobile: 2.125rem;
$h3-font-size-mobile: 1.875rem;
/* line-height Titulos */
$h1-line-height: 3rem;
$h2-line-height: 2.75rem;
$h3-line-height: 2.75rem;
$h4-line-height: 2.25rem;
$h5-line-height: 2rem;
$h6-line-height: 1.75rem;
/* font-weight Titulos */
$h1-font-weight: $font-weight-bold;
$h2-font-weight: $font-weight-semibold;
$h3-font-weight: $font-weight-semibold;
$h4-font-weight: $font-weight-semibold;
$h5-font-weight: $font-weight-bold;
$h6-font-weight: $font-weight-semibold;

$heading-styles: (
  1: (
    font-size: $h1-font-size,
    line-height: $h1-line-height,
    font-weight: $h1-font-weight,
  ),
  2: (
    font-size: $h2-font-size,
    line-height: $h2-line-height,
    font-weight: $h2-font-weight,
  ),
  3: (
    font-size: $h3-font-size,
    line-height: $h3-line-height,
    font-weight: $h3-font-weight,
  ),
  4: (
    font-size: $h4-font-size,
    line-height: $h4-line-height,
    font-weight: $h4-font-weight,
  ),
  5: (
    font-size: $h5-font-size,
    line-height: $h5-line-height,
    font-weight: $h5-font-weight,
  ),
  6: (
    font-size: $h6-font-size,
    line-height: $h6-line-height,
    font-weight: $h6-font-weight,
  ),
);
$heading-sizes-mobile: (
  1: $h1-font-size-mobile,
  2: $h2-font-size-mobile,
  3: $h3-font-size-mobile,
);

/* === Titulares === */
/* font-size Titulares */
$lg-headline-fs: 1.25rem;
$md-headline-fs: 1.125rem;
$sm-headline-fs: 1rem;
/* line-height Titulares */
$lg-headline-lh: 1.5rem;
$md-headline-lh: 1.5rem;
$sm-headline-lh: 1.25rem;
/* font-weight Titulares */
$lg-headline-fw: $font-weight-bold;
$md-headline-fw: $font-weight-semibold;
$sm-headline-fw: $font-weight-semibold;

$headline-styles: (
  lg: (
    font-size: $lg-headline-fs,
    line-height: $lg-headline-lh,
    font-weight: $lg-headline-fw,
  ),
  md: (
    font-size: $md-headline-fs,
    line-height: $md-headline-lh,
    font-weight: $md-headline-fw,
  ),
  sm: (
    font-size: $sm-headline-fs,
    line-height: $sm-headline-lh,
    font-weight: $sm-headline-fw,
  ),
);

/* === Cuerpo === */
/* font-size Cuerpo */
$xl-body-fs: 1.25rem;
$lg-body-fs: 1.125rem;
$font-size-base: 1rem; //Se sobreescribe variable de Bootstrap5
$md-body-fs: 1rem;
$sm-body-fs: 0.875rem;
$xs-body-fs: 0.75rem;
/* line-height Cuerpo */
$xl-body-lh: 1.75rem;
$lg-body-lh: 1.75rem;
$md-body-lh: 1.5rem;
$sm-body-lh: 1.25rem;
$xs-body-lh: 1rem;
/* font-weight Cuerpo */
$xl-body-fw: $font-weight-normal;
$lg-body-fw: $font-weight-normal;
$md-body-fw: $font-weight-normal;
$sm-body-fw: $font-weight-normal;
$xs-body-fw: $font-weight-normal;

$body-styles: (
  xl: (
    font-size: $xl-body-fs,
    line-height: $xl-body-lh,
    font-weight: $xl-body-fw,
  ),
  lg: (
    font-size: $lg-body-fs,
    line-height: $lg-body-lh,
    font-weight: $lg-body-fw,
  ),
  md: (
    font-size: $md-body-fs,
    line-height: $md-body-lh,
    font-weight: $md-body-fw,
  ),
  sm: (
    font-size: $sm-body-fs,
    line-height: $sm-body-lh,
    font-weight: $sm-body-fw,
  ),
  xs: (
    font-size: $xs-body-fs,
    line-height: $xs-body-lh,
    font-weight: $xs-body-fw,
  ),
);

/* === Body - variables de Bootstrap === */
$font-size-base: $md-body-fs; // Se sobreescribe variable de Bootstrap
$line-height-base: $md-body-lh; // Se sobreescribe variable de Bootstrap
