// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('../../node_modules/boxicons/css/boxicons.min.css');
@import "../../../dist/styles.css";

// Generic Styles
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #38485c #f0f0f0;
  width: 100%;
  box-sizing: border-box;
}

// ::-webkit-scrollbar {
//   width: 8px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: #38485c;
// }

// ::-webkit-scrollbar-track {
//   background-color: #f0f0f0;
// }

// End Generic Styles

// Styles for Divisor
hr {
  width: 100%;
  height: 1px;
  background: #f3f6f9;
}

// End Styles for Divisor

// Styles for the box-code
.box-code {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../public/icon/copy.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}

// End Styles for the box-code


//Styles for component Scrollspy
.box-scrollspy {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .nav-scrollspy {
    position: relative;
    min-width: 150px;

    .scrollspy {
      list-style: none;
      top: 140px;
      right: 0;
      background-color: #fff;
      padding: 0 0 0 2rem;
      position: sticky;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      a {
        text-decoration: none;
        color: #38485c;
      }

      .active {
        a {
          color: #007bc7;
        }
      }
    }
  }
}

// End Styles for component Scrollspy

// Toast Styles
.custom-toast {
  box-shadow: 0 4px 12px #00000002;
}

// End Toast Styles

// Class custom
.border-none {
  border: none;
}

// max-width 720px
.max-720 {
  max-width: 720px;
}

.max-600 {
  max-width: 600px;
}

.color-box {
  width: 96px;
  height: 48px;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* estilos navegacion vertical izquierdo */
.sticky-nav {
  position: sticky;
  top: 132px;

  nav {
    overflow-y: scroll;
    height: 68dvh;
    padding: 0.3rem;
  }
}
.box-content {
  width: 100%;
}