// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('../../node_modules/boxicons/css/boxicons.min.css');
@import '../../styles/styles.css';

// Generic Styles
html {
  scroll-behavior: smooth;
  scroll-padding-top: 32px;
}

body {
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #38485c #f0f0f0;
  width: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #38485c;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

// End Generic Styles

// Styles for Divisor
hr {
  width: 100%;
  height: 1px;
  background: #f3f6f9;
}

// End Styles for Divisor

//Styles for component Scrollspy
.box-scrollspy {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .nav-scrollspy {
    position: relative;
    min-width: 319px;
    width: 319px;
    padding: 0 0 2rem 2rem;

    .nav-scrollspy-position {
      position: sticky;
      top: 16px;
      right: 0;

      .scrollspy {
        list-style: none;

        background-color: transparent;
        padding: 0 5px 5px 1rem;

        display: flex;
        flex-direction: column;
        max-height: 100dvh;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          a {
            color: #38485c;
            text-decoration: none;
            padding: 10px 0 10px 16px;
            min-height: 40px;
            &:after {
              content: '';
              background-color: #e6ebf0;
              position: absolute;
              width: 2px;
              height: 100%;
              left: 0;
              top: 0;
            }

            &:focus {
              box-shadow: none;
            }
          }

          &.active {
            a {
              color: #274986;
              &:after {
                background-color: #274986;
              }
            }
          }
          .custom-scrollspy-color {
            outline: 2px solid #101e37;
            outline-offset: 3px;
          }
        }
      }
    }
  }
  .box-content .box-section:last-child {
    @media screen and (min-width: 992px) {
      min-height: calc(100vh - 80px);
    }
  }
}
.custom-scrollspy-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0.25rem;
}
// End Styles for component Scrollspy

// Toast Styles
.custom-toast {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
  font-family:
    'Nunito',
    'Open Sans',
    system-ui,
    -apple-system,
    'Segoe UI',
    roboto,
    'Helvetica Neue',
    arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 0.875rem;
  color: #101e37;
  background-color: #f3f6f9;
  right: 0;

  div[data-title] {
    font-weight: 700;
    font-size: 1rem;
  }

  div[data-icon] {
    color: #26874a;
  }
}
// End Toast Styles

// Class custom
.border-none {
  border: none;
}

// max-width
.max-720 {
  max-width: 720px;
}

.max-600 {
  max-width: 600px;
}

.v-height-100 {
  min-height: calc(100dvh - 83px);
}
.w-fit {
  width: fit-content;
}

.color-box {
  width: 200px;
  height: 96px;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-box-ramp {
  width: 140px;
  height: 120px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 0.5rem;
}

.box-color {
  padding: 0.75rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-bottom: 2px solid #e6ebf0;

  &:last-of-type {
    border-bottom: none;
  }

  .box-color-rectangle {
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
  }
  .box-color-title,
  .box-color-hex {
    margin-bottom: 0;
    &.fixed {
      width: 90px;
      min-width: 90px;
    }
  }
}

// estilos navegacion vertical izquierdo
.nav-divider {
  background: #e6ebf0;
  margin-bottom: 2rem;
}
.custom-layout-container {
  @media screen and (min-width: 1200px) {
    max-width: 100%;
  }
}
.custom-col-9-desktop {
  @media screen and (min-width: 1200px) {
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
}
.sticky-nav {
  position: sticky;
  top: 16px;
  overflow-y: scroll;
  height: 95dvh;
  scrollbar-width: thin;
  padding: 0 1.5rem 0 0.5rem;

  &.h-auto {
    overflow-y: unset;
  }
}

.box-content {
  width: 100%;
  overflow-x: hidden;
}
.component-header {
  @media screen and (min-width: 1200px) {
    margin-top: 2rem;
  }

  h1 {
    margin-bottom: 20px;
    font-weight: 600;
  }
  p {
    margin-bottom: 20px;
    color: #38485c;
    max-width: 728px;
  }
}

//Listas en documentacion
.docs-list {
  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  code {
    font-size: 1rem;
  }
}

code {
  font-size: 1rem;
  color: #9100cc;
}
pre {
  background: #002733 !important;
}

//Contenedor para mostrar variantes de componente header
.header-box-sizing {
  transform: scale(0.5);
  .navbar {
    width: 202%;
    left: -53%;
  }

  &:has(.navbar-collapse.collapse.show),
  &:has(.navbar-collapse.collapsing),
  &:has(.dropdown .btn-dropdown[aria-expanded='true']) {
    z-index: 9999;
    position: relative;
  }
}
//Visualizacion de Destacado en codebox
.highlighted-box-sizing {
  transform: scale(0.6);
  transform-origin: top;
  max-height: 360px;
  @media screen and (min-width: 768px) {
    max-height: 450px;
  }
  @media screen and (min-width: 1200px) {
    max-height: 240px;
  }

  > * {
    width: 160%;
    position: relative;
    left: -30%;
  }

  &-vertical {
    @extend .highlighted-box-sizing;
    max-height: 1600px;
    @media screen and (min-width: 1200px) {
      max-height: 640px;
    }

    &.max-h-800 {
      max-height: 800px;
      @media screen and (min-width: 1200px) {
        max-height: 310px;
      }
    }
    &.max-h-640 {
      max-height: 640px;
      @media screen and (min-width: 1200px) {
        max-height: 280px;
      }
    }
    > * {
      @media screen and (min-width: 576px) and (max-width: 1199.98px) {
        left: 0;
      }
    }
  }
}

//Visualizacion de tarjetas
.card-box-sizing {
  max-width: 328px;
  @media screen and (min-width: 1200px) {
    max-width: 538px;
  }
}
.card-vertical-box-sizing {
  max-width: 328px;
  @media screen and (min-width: 1200px) {
    max-width: 348px;
  }
}
.card-box-sizing-columns {
  transform: scale(0.6);
  transform-origin: top;
  max-height: 600px;
  @media screen and (min-width: 768px) {
    max-height: 380px;
  }
  @media screen and (min-width: 1200px) {
    max-height: 260px;
  }
  > * {
    width: 160%;
    position: relative;
    left: -30%;
    @media screen and (min-width: 576px) and (max-width: 1199.98px) {
      left: 0;
    }
  }
  &-2 {
    @extend .card-box-sizing-columns;
    max-height: 340px;
    @media screen and (min-width: 768px) {
      max-height: 220px;
    }
  }
}

//Contenedores para barra de desplazamiento
.horizontal-example {
  min-width: 1200px;
}
.vertical-example {
  height: 300px;

  @media screen and (max-width: 768px) {
    height: 500px;
  }
}
